﻿

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/Site/imges/logo1.png" />
    <title>Events</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="jquery-3.6.0.min.js"></script>


    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

    <!-- Custom box css -->
    <link href="~/assets/plugins/custombox/dist/custombox.min.css" rel="stylesheet">




    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />*@

    <link href="~/assets/css/select-2.css" rel="stylesheet" />
    <link href="~/assets/plugins/nice-select/css/nice-select.css" rel="stylesheet" />
    <link href="~/assets/css/tempusdominus-bootstrap-3.min.css" rel="stylesheet" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    @*<link href="~/css/toastr.min.css" rel="stylesheet" />*@
    <link href="~/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/assets/css/new-style.css" rel="stylesheet" />
    @*<link href="~/assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" />*@

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/modernizr.min.js"></script>

</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left skin-background2">
                <a href="/" class="logo">
                    <span>
                        <img src="" />

                    </span><i class="zmdi zmdi-layers"></i>
                </a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default skin-background2" role="navigation">

                <!-- Page title -->
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="button-menu-mobile open-left">
                            @*<i class="zmdi zmdi-menu"></i>*@
                            <img src="~/images/noun_menu_340674.png" />

                        </button>
                    </li>
                    <li>
                        <h4 class="page-title">  لوحة التحكم @*| رقة*@   </h4>
                    </li>
                </ul>

                <!-- Right(Notification and Searchbox -->

                <ul class="nav navbar-nav navbar-right">
                    <li>

                        <!-- Notification -->
                        <div class="notification-box" style="display:none">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <a href="javascript:void(0);" class="right-bar-toggle" onclick="ShowNotif()">
                                        <i class="zmdi zmdi-notifications-none"></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <!-- End Notification bar -->

                    </li>

                    <li class="hidden-xs" style="display:none">
                        <form role="search" class="app-search">
                            <input type="text" placeholder="Search..."
                                   class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>



            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu skin-background">
            <div class="sidebar-inner slimscrollleft">

                <!-- User -->
                <div class="user-box">
                    <a asp-area="Identity" asp-page="">
                        <div class="user-img">
                            <img style="height: 100%;width: 100%;" src="" alt="user-img" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                    </a>
                    <h5><a href="#"></a> </h5>
                    <ul class="list-inline">
                        <li>
                            @*<a asp-area="Identity" asp-page="/Account/EditUser">Hello @User.Identity.Name!</a>*@
                            <a asp-area="Identity" asp-page="">
                                <i class="zmdi zmdi-settings"></i>
                            </a>
                        </li>

                        <li>
                            <form id="logoutForm" asp-area="Identity" asp-page="" method="post">

                                <button type="submit" class="skin-background2">
                                    <i class="zmdi zmdi-power"></i>
                                </button>

                            </form>

                        </li>
                    </ul>
                </div>
                <!-- End User -->
                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <!--Slider-->
                    <ul>
                        <li style="display:none" class="text-muted menu-title">Navigation</li>

                       
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Event" asp-action="GetListEvents">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>الاحداث</span>
                                </a>
                            </li>
                            
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Source" asp-action="GetListSources">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>المصادر</span>
                                </a>
                            </li>

                    </ul>
                    <!--end-->

                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @*<div class="container">*@

                <div>
                    @RenderBody()
                </div>

                <!-- end row -->
                <!--</div>--> <!-- container -->

            </div> <!-- content -->

            <footer class="footer text-right">
                Event © 2019 - 2020
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class="">الاشعارات</h4>

        </div>
        <!-- /Right-bar -->



    </div>
    <!-- END wrapper -->
    <!-- Start Loading Page -->
    <!------------------------loader--------------------------------->
    <!--------------------------------------------------------->
    <!-- Start body-content -->
    @*<div class="layer-preloader">
            <div class="lds-dual-ring"></div>
        </div>*@

    <!-- End Loading Page -->
    @*<div class="change_color">

            <ul>

                <li data-color="#181818" class="active">

                </li>

                <li data-color="#c79d02">

                </li>

                <li data-color="#096621">

                </li>

                <li data-color="#c56e26d9">

                </li>

                <li data-color="#f97068">

                </li>

                <li data-color="#FF7C1F">

                </li>

                <span data-toggle="tooltip" data-placement="right" title="تغيراللون">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>

            </ul>
        </div>*@





    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    @*<script src="~/assets/js/bootstrap-rtl.min.js"></script>*@
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/plugins/nice-select/js/jquery.nice-select.min.js"></script>
    @*<script src="~/js/toastr.js"></script>*@
    <script src="~/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    @*<script src="~/js/notify.js"></script>*@


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>*@
    <script src="~/assets/js/tempusdominus-bootstrap-3.min.js"></script>
    <!-- Modal-Effect -->
    <script src="~/assets/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/assets/plugins/custombox/dist/legacy.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!--Morris Chart-->
    <!--Chartist Chart-->
    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    <!--Morris Chart-->
    <!-- Datatables-->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    @*<script src="~/assets/plugins/datatables/dataTables.scroller.min.js"></script>*@

    <!-- Datatable init js -->
    <script src="~/assets/pages/datatables.init.js"></script>

    <script src="~/assets/plugins/chart.js/Chart.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
    <script src="~/assets/js/select-2.js"></script>

    @*<script type="text/javascript" src='https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyB_oSewQNaoaW8F2_WxAC5eFwoeaZYpOHE&language=ar'></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable-responsive').DataTable({
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يعثر على أية سجلات",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }, "order": []
            });


        });
        TableManageButtons.init();

        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-left",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
        });
    </script>
    <script>
        $(".select-2").select2();



        //$(document).ajaxStart(function () {
        //    startLoader();
        //});

        //$(document).ajaxStop(function () {
        //    stopLoader();
        //});




    </script>




    @RenderSection("scripts", required: false)

    <!------------------------------------------------------------------------------------------------->


    <script>


        $(document).ready(function () {
            if (localStorage.color != undefined) {
                $("body").attr("data-progictColor", localStorage.color);

            }

            $(".change_color").delay(2000).animate({ "left": "-95px", opacity: "0.6" });

            $(".change_color ul > span").on("click", function () {

                $(this).toggleClass("active");

                if ($(this).hasClass("active")) {

                    $(this).parents(".change_color").css({ "left": "5px", "opacity": "1" });
                    $(this).children().css({ "transform": "scale(-1)" });

                } else {

                    $(this).parents(".change_color").css({ "left": "-95px", "opacity": "0.6" });
                    $(this).children().css({ "transform": "scale(1)" });

                }

            });

            $(".change_color").on("click", function (e) {

                e.stopPropagation();
            });


            $("body").on("click", function () {

                if ($(".change_color ul > span").hasClass("active")) {

                    $(".change_color ul > span").click();
                }
            });


            $(".change_color ul > li").on("click", function () {

                $(this).addClass("active").siblings("li").removeClass("active");
            });


            $(".change_color li").on("click", function () {

                localStorage.color = $(this).attr("data-color");
                $("body").attr("data-progictColor", localStorage.color);

            });

            /*$(".sidebar-inner").animate({ scrollTop: $("#sidebar-menu > ul > li.active").offset().top - $("#sidebar-menu > ul > li").outerHeight(true)}, 500);*/

        });


    </script>


</body>
</html>
