﻿@model Event.Application.Features.Images.Commands.CreateImages.CreateImagesCommand
@{
    ViewData["Title"] = "Create";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">اضافة صوره</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="CreateImage" asp-controller="Images" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input hidden asp-for="AlbumId" value="@ViewBag.AlbumId" class="form-control" />
                </div>   
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">الصوره</label>
                    <input type="file" asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <input type="submit" value="اضافة" class="btn-new-style btn-rounded" />
                </div>

                <div>
                    <a asp-action="GetListImages" asp-route-id="@ViewBag.AlbumId" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
