﻿@model IEnumerable<Event.Application.Features.Event.Queries.GetEventList.GetEventListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-box">

    <h2 class="header-title m-t-0 m-b-30">الاحداث</h2>

    <div>
        <p>
            @Html.ActionLink("اضافة حدث", "CreateEvent", "Event", null, new { @class = "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" })
        </p>
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> الاسم بالعربيه </th>
                    <th> الاسم بالانجليزيه </th>
                    <th> المحتوي العنوان </th>
                    <th>بداية الحدث</th>
                    <th>نهاية الحدث</th>
                    <th>الصوره</th>
                    <th>تعديل</th>
                    <th>حذف</th>
                    <th>الاقسام</th>
                    <th>الالبومات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameAr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            <img src="@item.CoverImg" style="height:100px;width:100px;" />
                        </td>
                       <td>
                            <a href="/Event/UpdateEvent/@item.Id" class="btn btn-info btn-rounded" role="button" aria-pressed="true">تعديل</a>
                        </td>
                        <td>
                            <input type="button" value="&#xf014;" class="icon-font btn btn-danger btn-rounded" onclick="Delete('@item.Id')" />
                        </td>
                        <td>
                            <a href="/Category/GetListCategories/@item.Id" class="btn btn-info btn-rounded" role="button" aria-pressed="true">عرض</a>
                        </td> 
                        <td>
                            <a href="/Album/GetListAlbums/@item.Id" class="btn btn-info btn-rounded" role="button" aria-pressed="true">عرض</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- -------------------------------------------------------------------------------------------------- -->
    </div><!-- end row -->
</div>
@*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="jquery-3.6.0.min.js"></script>*@

@section scripts
{
<script>

    function Delete(id) {
         Swal.fire({
             title: 'هل انت متاكد من حذف هذا العنصر  ؟',
             type: 'warning',
             showCancelButton: true,
             confirmButtonColor: '#d33',
             cancelButtonColor: '#3085d6',
             cancelButtonText: 'اغلاق',
             confirmButtonText: 'حذف',
         }).then((result) => {
             if (result.value) {
                 $.ajax({
                     url: "/Event/DeleteEvent",
                     type: "POST",
                     dataType: "json",
                     data: {
                         id: id
                     }, success: function (result) {
                         if (result.data == true) {
                             toastr.success("تم الحذف بنجاح");
                             setTimeout(function () {
                             }, 3000);
                         }
                         window.location.reload();
                     },
                     failure: function (info) {

                     }
                 })
             }
         })
     }

</script>
}

